<div ng-controller="create">	
	<div class="col-md-12">
		<div class="col-md-4 panel panel-primary">
			<div class="panel-body">
				<h2 class="text-center surveyName"> Survey Name</h2>
				<input ng-model="name" class="col-md-12">
			</div>
		</div>
	<div class="col-md-4 panel panel-primary">
		<div class="panel-body customPanel">
			<h2 class=" surveyName text-center"> Add a Question Type </h2>
			<button class="btn col-md-3 btn-md btn-default"ng-click="inputCreator('input')">input </button>
			<button class="btn col-md-3 btn-md btn-default" ng-click="inputCreator('textarea')"> text area </button>
			<button class="btn btn-md col-md-3  btn-default"ng-click="inputCreator('radio')"> radio </button>
			<button class="btn btn-md col-md-3  btn-default"ng-click="inputCreator('checkbox')">  checkbox </button>
		</div>
	</div>
		<button class="saveButton col-md-4 btn btn-lg btn-success" ng-click="save()"> Save </button>
	</div>
		<div class="col-md-12"id="target"> </div>
	
</div>
