<div ng-controller="viewAllSurveys" ng-init="viewAllSurveys()">
<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content" ng-controller="delete">
    <span ng-click="close()" class="close">x</span>
    <h2>Are you sure you want to delete this survey?</h2>
    <button class="btn btn-lg col-md-4 pull-left btn-primary" ng-click="deleteSurvey()">  Yes  </button>

    <button class="btn btn-lg col-md-4 pull-right btn-default" ng-click="no()">No</button>
  </div>
</div>
	<table class="table">
		<tr>
			<th>  </td>
			<th>  </th>
			<th> Name </td>
			<th> Date </td>
			<th>  </th>
		</tr>

 <tr ng-repeat="data in data">
 	<td> <button class="btn btn-sm btn-default" ng-click="goTo(data._id)"> View Results </button> </td>
 	<td> <button class="btn btn-sm btn-info" ng-click="viewUsers(data._id)"> view by user  </button> </td>
 	<td> {{data.name}} </td>
 	<td>{{data.date | date:'short'}}  </td>
 	<td> <button class="btn btn-sm" ng-click="modalGo(data._id)"	 class="myBtn">Delete</button>  </td>
<!--  	<td> <button id="myBtn" ng-click="deleteSurvey(data._id)"> delete button goes here </button> </td> -->
 </tr>
</div>

</div>


