
body {
    background-color: lightblue;
}

.customPanel{
	padding-bottom: 3px;
}
.saveButton{
	font-size:4em;
	padding-top: 16px;
	padding-bottom:16px;
}

.surveyName{
	margin-top:9px 
}

.customInput{
	height: 35px;
}

.customH4{
	margin-bottom: 8px
}

.createPanelBody{
	padding-bottom:10px ;
	padding-top: 10px
}
.createPanel{
	margin-bottom: 10px;
}